[Unit]
Description=RHUM Manager
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /root/rhum/manager/manager.py

[Install]
WantedBy=multi-user.target
